/* ==========================================
   SEFO Portfolio Animations
========================================== */

/* Fade Up */

@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(50px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

/* Fade Down */

@keyframes fadeDown{

    from{

        opacity:0;
        transform:translateY(-50px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

/* Fade Left */

@keyframes fadeLeft{

    from{

        opacity:0;
        transform:translateX(-60px);

    }

    to{

        opacity:1;
        transform:translateX(0);

    }

}

/* Fade Right */

@keyframes fadeRight{

    from{

        opacity:0;
        transform:translateX(60px);

    }

    to{

        opacity:1;
        transform:translateX(0);

    }

}

/* Zoom */

@keyframes zoomIn{

    from{

        opacity:0;
        transform:scale(.85);

    }

    to{

        opacity:1;
        transform:scale(1);

    }

}

/* Floating Logo */

@keyframes floating{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}

/* Pulse */

@keyframes pulse{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.06);

    }

    100%{

        transform:scale(1);

    }

}

/* Rotate */

@keyframes rotate{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

/* ==========================================
   Scroll Reveal
========================================== */

.reveal{

    opacity:0;

    transform:translateY(60px);

    transition:1s ease;
       opacity .8s ease,
       transform .8s ease;

    will-change:transform,opacity;


}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}

/* ==========================================
   Default Animations
========================================== */

.hero-content{

    animation:fadeLeft 1s ease;

}

.hero-image{

    animation:fadeRight 1s ease;

}

.about-image{

    animation:zoomIn .9s ease;

}

.logo img{

    animation:floating 3s ease-in-out infinite;

}

.primary-btn:hover{

    animation:pulse .5s;

}